html {
  background-color: green;
}

h3 {
  font-size: 24;
  color: white;
}

#monthlyCost {
  font-size: 16;
  font-weight: bold;
  font-style: italic;
}

h1 {
  text-align: center;
  text-decoration: underline;
  color: white;
}
